<html xmlns:th="http://www.thymeleaf.org">

<!--Fragment of header-->
    <div th:fragment="header">
        <!-- Logo -->
        <a th:href="@{/admin/home}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>VTS</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">Ven<b>TAS</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/admin/user}"><i class="fa fa-user"></i></a>
                    </li>
                    <li>
                        <a th:href="@{/logout}"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
<!-- //  -->

<!--Fragment of main menu-->
    <div th:fragment="mainMenu">
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <!--<div class="user-panel">
                &lt;!&ndash;<div class="pull-left image">
                    <img th:src="@{/images/user3-128x128.jpg}" class="img-circle" alt="User Image">
                </div>&ndash;&gt;
                &lt;!&ndash;<div class="pull-left info">
                    &lt;!&ndash;<p>Thanh Nguyen</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>&ndash;&gt;
                </div>&ndash;&gt;
            </div>-->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENU DE NAVEGACION</li>
                <li><a th:href="@{/admin/home}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li><a th:href="@{/admin/minegocio}"><i class="fa fa-home"></i> <span>Mi Negocio</span></a></li>
               <!-- <li><a th:href="@{/admin/target}"><i class="fa fa-upload"></i> <span>Targets</span></a></li>
                <li>
                    <a href="../../../../../../MaterialAdminLTE-master/pages/widgets.html">
                        <i class="fa fa-th"></i> <span>Widgets</span>
                        <span class="pull-right-container">
                  <small class="label pull-right bg-green">new</small>
                </span>
                    </a>
                </li>-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-upload"></i>
                        <span>Cargar</span>
                        <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/admin/article}"><i class="ion ion-bag"></i> <span>Artículo</span></a></li>
                        <li><a th:href="@{/admin/proveedor}"><i class="fa fa-truck"></i> <span>Proveedor</span></a></li>
                        <li><a th:href="@{/admin/stock}"><i class="fa fa-cubes"></i> <span>Stock</span></a></li>
                    </ul>
                </li>


                <li><a th:href="@{/admin/document}"><i class="fa fa-book"></i> <span>Guia</span></a></li>
                <li><a th:href="@{/admin/faq}"><i class="fa fa-question"></i> <span>Ayuda</span></a></li>
               <!-- <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>UI Elements</span>
                        <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Forms</span>
                        <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Tables</span>
                        <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../../../../../../MaterialAdminLTE-master/pages/calendar.html">
                        <i class="fa fa-calendar"></i> <span>Calendar</span>
                        <span class="pull-right-container">
                  <small class="label pull-right bg-red">3</small>
                  <small class="label pull-right bg-blue">17</small>
                </span>
                    </a>
                </li>
                <li>
                    <a href="../../../../../../MaterialAdminLTE-master/pages/mailbox/mailbox.html">
                        <i class="fa fa-envelope"></i> <span>Mailbox</span>
                        <span class="pull-right-container">
                  <small class="label pull-right bg-yellow">12</small>
                  <small class="label pull-right bg-green">16</small>
                  <small class="label pull-right bg-red">5</small>
                </span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>Examples</span>
                        <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                        <li><a href="../../../../../../MaterialAdminLTE-master/pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
                    </ul>
                </li>-->
            </ul>
        </section>
    </div>
<!-- //  -->

<!--Fragment of footer.-->
    <div th:fragment="footer">
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> PRO
            </div>
            <strong>VenTaS </strong><a href="https://drive.google.com/drive/folders/1aYHuF1KnAU3zQNLweqzEADJlj3t9q6F0?usp=sharing" target="_blank">Más información</a>
        </footer>
    </div>
<!-- //  -->

</html>